@import url(https://ydarissep.github.io/dex-core/style/locationsTable.css);

.methodTable {
    width: 20%;
    max-width: 250px;
}

.locationRarity {
    font-size: 15px !important;
}

@media only screen and (max-width: 1125px) {
    .locationSpriteContainer {
      width: 65% !important;
    }
  }

@media 
only screen and (max-width: 800px) {
    .locationRarity {
        display: none;
    }

    .locationRarityHidden {
        display: block !important;
    }
}

@media 
only screen and (max-width: 550px) {
    .locationSpeciesNameHidden, .locationRarity {
        font-size: 12px !important;
    }

    .methodTableThead {
        height: unset !important;
    }
}