#hideLinksFilter {
    margin-left: 5px;
}

.locationName {
    font-size: 30px;
}

.nextBiomeContainer, .previousBiomeContainer {
    width: 215px;
    font-size: 14px;
}

.locationTable {
    display: block !important;
	margin-bottom: 100px;
    width: 750px;
}

.locationTableThead {
    display: inline-block !important;
    background: none;
}

.locationTableThead th {
    padding: 0px;
}

.mainBiomeSprite {
    width: 240px;
    height: 99px;
    border: 1px solid white;
    margin-bottom: 15px;
}

.nextLink, .previousLink {
    margin: 3px 10px 3px 10px;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.35);
    border: 2px solid grey;
}

.nextLink:hover, .previousLink:hover {
    border: 2px solid var(--theme-color) !important;
    cursor: pointer;
}

.nextLink {
    justify-content: right;
}

.previousLink {
    justify-content: left;
}

.nextLinkInfo, .previousLinkInfo {
    width: 100%;
}

.previousLinkInfo {
    width: 100%;
}

.linkSprite {
    width: 87.2px;
    height: 36px;
}

.locationTableTbody {
    width: 100%;
    display: inline-table !important;
}

.methodTable {
    border: 2px solid rgba(85, 85, 85);
    width: 250px;
    font-weight: 700;
    box-sizing: border-box;
    display: inline-block !important;
    height: 100%;
    margin: 0px 50px 0px 50px;
}

.methodTableThead {
	font-weight: 700;
	cursor: default !important;
    width: 100%;
    display: inline-table !important;
    font-size: 25px;
}

.methodTableTbody, .rarityTable {
    width: 100%;
    display: table !important;
}

.rarityTableThead {
    display: table-caption;
    font-size: 30px;
}

#locationsTable table, #locationsTable {
	box-shadow: none !important;
}

#locationsTable .miniSprite3 {
    padding: 0 !important;
    margin: 0 !important;
}

.locationSpeciesRow:hover {
    background: rgba(255, 255, 255, 0.2) !important;
    cursor: pointer;
}

.locationSpriteContainer .miniSprite3 {
    width: 42px;
    height: 42px;
}

.locationSprite {
    width: 42px;
    height: 42px;
    image-rendering: pixelated;
}

.locationRarity {
    padding-left: 5px;
    font-size: 17px !important;
}

#locationsTable .Day, #locationsTable .Dawn {
    color: #e1e17099;
}

#locationsTable .Night, #locationsTable .Dusk {
    color: #beabffc2;
}

.scrollIntoViewLocationFocus {
    border: 2px solid var(--theme-color) !important;
}

@media 
only screen and (max-width: 800px) {
    .locationTable {
        width: 500px !important;
    }

    .methodTable {
        width: 50% !important;
        margin: 0px !important;
    }

    .linkSprite {
        display: none;
    }
}

@media 
only screen and (max-width: 515px) {
    .locationTable {
        width: unset !important;
    }

    #locationsTable {
        width: 100%;
    }
}

@media 
only screen and (max-width: 500px) {
    .locationSpeciesName, .timeOfDay {
        font-size: 15px !important;
    }

    .mainBiomeSprite {
        width: 160px !important;
        height: 66px !important;
    }

    .nextBiomeContainer, .previousBiomeContainer {
        width: 150px !important;
    }

    .locationName {
        font-size: 25px !important;
    }
}

@media 
only screen and (max-width: 415px) {
    .mainBiomeSprite {
        width: 120px !important;
        height: 49.5px !important;
    }

    .nextBiomeContainer, .previousBiomeContainer {
        font-size: 12px !important;
    }
}

@media 
only screen and (max-width: 350px) {
    .rarityTableThead {
        font-size: 25px !important;
    }

    .locationSpeciesName {
        font-size: 13px !important;
    }
}