@import url(https://ydarissep.github.io/dex-core/style/speciesTable.css);

#speciesTableThead th, #abilitiesTableThead th, #movesTableThead th, #speciesPanelTablesContainer th {
	white-space: nowrap;
}

.starterAbility {
	font-weight: bold;
	color: #f4f000f2;
}

.abilities {
	font-size: 17.5px !important;
}