@import url(https://ydarissep.github.io/dex-core/style/speciesPanel.css);

tbody .speciesPanelLearnsetsEffect {
	font-size: 17px !important;
	height: 50px;
}

.starterCost {
	font-weight: bold;
	font-size: 25px;
}

@media 
only screen and (max-width: 800px) {
	#speciesPanelMainContainer {
		max-width: revert !important;
		border: none !important;
	}

	.speciesPanelLearnsetsEffect {
		font-size: 16px !important;
	}
}

@media 
only screen and (max-width: 650px) {
	.speciesPanelLearnsetsEffect {
		font-size: 14px !important;
	}
}

@media 
only screen and (max-width: 550px) {
	.speciesPanelLearnsetsEffect {
		display: none;
	}
}

@media 
only screen and (max-width: 380px) {
	#speciesSprite {
		padding-right: 10px !important;
	}
}

@media 
only screen and (max-width: 375px) {
	#speciesSprite {
		width: 128px !important;
		height: 128px !important;
	}
}