@import url(https://ydarissep.github.io/dex-core/style/speciesPanel.css);

#speciesPanelWeight {
	font-size: 15px;
	padding-bottom: 5px;
	letter-spacing: -0.3px;
}

.starterCost {
	font-weight: bold;
	font-size: 25px;
}

#variantsContainer {
	text-align: left;
  	margin-left: 20px;
	margin-top: 10px;
}

.variantContainer, .femaleIconContainer, .backIconContainer {
	display: inline-flex;
	margin-right: 10px;
	padding: 3px;
	border: 2px solid grey;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 15%;
	cursor: pointer;
}

.variantContainer:hover, .femaleIconContainer:hover, .backIconContainer:hover {
	border: 2px solid var(--theme-color) !important;
    transition: border 0.1s ease-in-out;
}

.variantContainer.activeVariant, .femaleIconContainer.femaleActive, .backIconContainer.backActive {
	border: 2px solid green !important;
}

#speciesPanelBiomesContainer {
	padding: 14px 0px 0px 175px;
	text-align: left !important;
}

#speciesPanelBiomesContainer.minimizeBiomes > div {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	font-size: 13px;
}

tbody .speciesPanelLearnsetsEffect {
	font-size: 17px !important;
	height: 50px;
}

@media 
only screen and (max-width: 800px) {
	#speciesPanelMainContainer {
		max-width: revert !important;
		border: none !important;
	}

	.speciesPanelLearnsetsEffect {
		font-size: 16px !important;
	}

	#speciesPanelBiomesContainer {
		padding-left: 75px !important;
	}
}

@media 
only screen and (max-width: 650px) {
	.speciesPanelLearnsetsEffect {
		font-size: 14px !important;
	}

	#speciesPanelBiomesContainer {
		padding-left: 10px !important;
	}
}

@media 
only screen and (max-width: 550px) {
	.speciesPanelLearnsetsEffect {
		display: none;
	}

	#statsGraph {
		width: 100px !important;
	}
}

@media 
only screen and (max-width: 380px) {
	#speciesSprite {
		padding-right: 10px !important;
	}
}

@media 
only screen and (max-width: 375px) {
	#speciesSprite {
		width: 128px !important;
		height: 128px !important;
	}
}